<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="Metronic admin dashboard live demo. Check out all the features of the admin panel. A large number of settings, additional services and widgets." />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="canonical" href="https://keenthemes.com/metronic" />
        <!--begin::Fonts-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
        <!--end::Fonts-->

        {% block stylesheets %}
            <!--begin::Page Vendors Styles(used by this page)-->
            <link href="{{ asset('assets/plugins/custom/fullcalendar/fullcalendar.bundle-v=7.1.2.css') }}" rel="stylesheet" type="text/css" />
            <!--end::Page Vendors Styles-->
            <!--begin::Global Theme Styles(used by all pages)-->
            <link href="{{ asset('assets/plugins/global/plugins.bundle-v=7.1.2.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('assets/plugins/custom/prismjs/prismjs.bundle-v=7.1.2.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('assets/css/style.bundle-v=7.1.2.css') }}" rel="stylesheet" type="text/css" />
            <!--end::Global Theme Styles-->
            <!--begin::Layout Themes(used by all pages)-->
            <link href="{{ asset('assets/css/themes/layout/header/base/light-v=7.1.2.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('assets/css/themes/layout/header/menu/light-v=7.1.2.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('assets/css/themes/layout/brand/light-v=7.1.2.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('assets/css/themes/layout/aside/light-v=7.1.2.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('assets/plugins/custom/datatables/datatables.bundle1ff3.css?v=7.1.2') }}" rel="stylesheet" /> 
            <link href="{{ asset('assets/plugins/datagrid/grid.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('assets/css/admin.css') }}" rel="stylesheet" type="text/css" />
            <!--end::Layout Themes-->
            <link rel="shortcut icon" href="{{ asset('assets/media/logos/favicon.ico') }}" />
        {% endblock %}

        {% block javascripts %}
            {#  <script>var HOST_URL = "/metronic/theme/html/tools/preview";</script> #}
            <!--begin::Global Config(global config for global JS scripts)-->
            <script>
                var KTAppSettings = { 
                    "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, 
                    "colors": { 
                        "theme": { 
                            "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32" }, 
                            "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, 
                            "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } 
                        }, 
                        "gray": { "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF", "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299", "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32" }
                    }, 
                    "font-family": "Poppins" 
                };
            </script>
            <!--end::Global Config-->
            <!--begin::Global Theme Bundle(used by all pages)-->
            <script src="{{ asset('assets/plugins/global/plugins.bundle-v=7.1.2.js') }}"></script>
            <script src="{{ asset('assets/plugins/custom/prismjs/prismjs.bundle-v=7.1.2.js') }}"></script>
            <script src="{{ asset('assets/js/scripts.bundle-v=7.1.2.js') }}"></script> 
            <!--end::Global Theme Bundle-->
            <!--begin::Page Vendors(used by this page)-->
            <script src="{{ asset('assets/plugins/custom/fullcalendar/fullcalendar.bundle-v=7.1.2.js') }}"></script>
            {# <script src="{{ asset('assets/js/pages/features/calendar/external-events1ff3.js?v=7.1.2') }}"></script> #}
            <script src="{{ asset('assets/js/pages/features/miscellaneous/bootstrap-notify1ff3.js?v=7.1.2') }}"></script>
            <!--end::Page Vendors-->
            <!--begin::Page Scripts(used by this page)-->
            <script src="{{ asset('assets/js/pages/widgets-v=7.1.2.js') }}"></script>
            <script src="{{ asset('assets/plugins/global/jquery.form.js') }}"></script>
            <script src="{{ asset('assets/plugins/custom/datatables/datatables.bundle1ff3.js?v=7.1.2') }}"></script>
            <script src="{{ asset('assets/js/pages/crud/datatables/basic/paginations1ff3.js?v=7.1.2') }}"></script>
            <script src="{{ asset('assets/js/pages/crud/forms/widgets/select21ff3.js?v=7.1.2') }}"></script>

            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{ asset('assets/scripts/admin.js') }}"></script>
            <script src="{{ asset('assets/scripts/init.js') }}"></script>
        {% endblock %}

        
        <!-- Hotjar Tracking Code for keenthemes.com -->
        {# <script>
            (function(h,o,t,j,a,r){ h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)}; h._hjSettings={hjid:1070954,hjsv:6}; a=o.getElementsByTagName('head')[0]; r=o.createElement('script');r.async=1; r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv; a.appendChild(r); })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script> #}
        
    </head>
    <body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
    <div class="page-loading display-none" id="page-loader">Chargement&#8230;</div>
    {% block body %}{% endblock %}
    <div class="modal fade" id="exampleModalSizeSm1" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeSm" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                    <span> &nbsp;&nbsp;Chargement des données... </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalSizeLg1" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                    <span> &nbsp;&nbsp;Chargement des données... </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalSizeLg2" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                    <span> &nbsp;&nbsp;Chargement des données... </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalSizeSm2" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeSm" aria-hidden="true">
        <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                    <span> &nbsp;&nbsp;Chargement des données... </span>
                </div>
            </div>
        </div>
    </div>


    </body>
</html>
