{% block page_content %}
    {% form_theme form 'widget/fields-block.html.twig' %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Suppression</h4>
    </div>
    {{ form_start(form, {'attr': {'class':'form-horizontal', 'role':'form'}}) }}
        <div class="modal-body">
             {{ include('_includes/ajax/response.html.twig') }}
            <p>Voulez-vous vraiment supprimer cet enregistrement</span>
            <div class="form-body">
                {{ form_widget(form) }}
                 <input type="hidden" name="_method" value="DELETE">
            </div>
        </div>
        <div class="modal-footer">
            {{ include('_includes/ajax/loader.html.twig') }}
            <button type="button" class="btn dark btn-outline" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-danger btn-ajax">Supprimer</button>
        </div>
    {{ form_end(form) }}
            
{% endblock %}
{% block javascripts_inline %}
    <script>
        
    </script>
{% endblock %}