{% block page_content %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Détails Clients</h4>
    </div>
   
    <div class="modal-body">
        <table class="table table-bordered">
        <tbody>
                            <tr>
                    <th>Id</th>
                    <td>{{ client.id }}</td>
                </tr>
                            <tr>
                    <th>Nom</th>
                    <td>{{ client.nom }}</td>
                </tr>
                            <tr>
                    <th>Prenoms</th>
                    <td>{{ client.prenoms }}</td>
                </tr>
                            <tr>
                    <th>Telephone</th>
                    <td>{{ client.telephone }}</td>
                </tr>
                            <tr>
                    <th>Email</th>
                    <td>{{ client.email }}</td>
                </tr>
                            <tr>
                    <th>NumeroCarteAbonne</th>
                    <td>{{ client.numeroCarteAbonne }}</td>
                </tr>
                    </tbody>
    </table>
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Fermer</button>
    </div>

{% endblock %}
{% block javascripts_inline %}
    <script>
        
    </script>
{% endblock %}